{% extends "base.html" %}

{% block content %}
<h1>Записи в блоге</h1>
{% for item in news%}
<h2>Acshion # {{item.id}}</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Название работы</th>
      <th scope="col">фамилия и имя ответственного</th>
      <th scope="col">продолжительность в часах</th>
      <th scope="col">список id команды</th>
        <th scope="col">завершена или нет</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{item.job}}</th>
      <td>{{item.user.name}} {{item.user.surname}}</td>
      <td>{{item.work_size}}</td>
      <td>{{item.collaborators}}</td>
        <td>{{item.is_finished}}</td>
    </tr>
  </tbody>
</table>
{% endfor %}
{% endblock %}