{% extends "base.html" %}

{% block content %}
<div class="d-grid gap-2 d-md-block" style="width: 100px; height: 70px;">
  <button type="button" class="btn btn-warning"  style="width: 200px; height: 50px; position: relative; top: 10px; left: 1px">Добавить работу</button>
</div>
<h1>Записи в блоге</h1>
{% for item in news%}
<h2>Acshion # {{item.id}}</h2>
<table class="table">
  <thead>
    <tr class="table-secondary">
      <th scope="col">Название работы</th>
      <th scope="col">фамилия и имя ответственного</th>
      <th scope="col">продолжительность в часах</th>
      <th scope="col">список id команды</th>
        <th scope="col">завершена или нет</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <th scope="row" class="table-info">{{item.job}}</th>
      <td class="table-info">{{item.user.name}} {{item.user.surname}}</td>
      <td class="table-info">{{item.work_size}}</td>
      <td class="table-info">{{item.collaborators}}</td>
        <td class="table-danger">{{item.is_finished}}</td>
    </tr>
  </tbody>
</table>
{% endfor %}
{% endblock %}