<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

        <title>{{ title }}</title>
    </head>
    <body>
        <h1>Миссия Колонизация Марса</h1>
        <h4>И на Марсе будут яблони цвести!</h4>
    {% set user_list = ['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог', 'врач', 'инженер по терраформированию', 'климатолог', 'специалист по радиационной защите', 'астрогеолог', 'гляциолог', 'инженер жизнеобеспечения', 'метеоролог', 'оператор марсохода', 'киберинженер', 'штурман', 'пилот дронов'] %}
        {% if title == 'ul' %}
            <ul>
                {% for user in user_list %}
                    <li>{{{ user }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {% for user in user_list %}
                <ul>
                    <h5>{{ loop.index }} {{ user }}
                    </h5>
                </ul>
            {% endfor %}

    </body>
</html>